### Consolidando os preços históricos de cada título

#### Problemas encontrados:
 - Nome das colunas;
 - Formato da data do dia 23/08 para alguns arquivos (número e não texto, apesar de parecerem iguais no excel)
 - Formato das datas finais de alguns arquivos em número (visível no excel)

In [74]:
%matplotlib inline  
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from os import listdir
from os.path import isfile, join
import datetime

dirPrecos = "D:\\Documents\\Tese\\2018\\dados\\"
date_format = '%d/%m/%Y'

In [100]:
# para arquivo listado no diretorio informado
# atenção que a função passa por TODOS os arquivos. Aqui assumo que terá somente os arquivos necessários
dfFinal = pd.DataFrame()
for f in listdir(dirPrecos):
    if isfile(join(dirPrecos, f)):
        # Load spreadsheet
        xl = pd.ExcelFile(dirPrecos + f)
#         print(f)
        # ha uma diferenca no nome da coluna nos arquivos historicos (< 2012)    
        if "historico" in f:
            strColPU = 'PU Extrato 9:00'
        else:
            strColPU = 'PU Base Manhã'
        # Importo tudo e capturo o vencimento do bond
        df1 = xl.parse(0)
        dtVcto = df1.columns[1]

        # depois eu importo excluindo a primeira linha e parseando as datas como index
        df1 = xl.parse(0, header =1, index_col =0, parse_dates = True)

        dfAll = [] # guarda todas as colunas do arquivo
        dtVcto = [] # vetor com as datas de vencimento para cada sheet

        for i in range(0, len(xl.sheet_names)):
#             print(xl.sheet_names[i])
            # primeiro eu importo tudo e capturo o vencimento do bond
            df1 = xl.parse(i)
            if isinstance(df1.columns[1], datetime.date):
                dtVcto.append(str(df1.columns[1].strftime(date_format)))
            else:
                dtVcto.append(str(df1.columns[1]))
            # depois eu importo excluindo a primeira linha e leio as datas como index e uso o date_format como modelo da data
            df1 = xl.parse(i, header =1, index_col =0) # i aqui é a referencia numerica da sheet que estou lendo
            df1.index = pd.to_datetime(df1.index, format=date_format)
            dfAll.append(df1)

        # df utilizado para armazenar somente uma coluna 'PU Base Manhã', mas poderia ser outra
        df = []
        for i in range(0, len(dfAll)):
            df.append(dfAll[i][strColPU])
            df[i].name = str(dtVcto[i])
        df3 = pd.concat(df, axis=1)
#         df3 = pd.merge(df[0], df[1], left_index=True, right_index=True)
#         print(df3.head())
#         df3.to_csv(dirPrecos + "\\csv\\" + str(f).replace(".xls","") + ".csv")
#         print(str(f).replace(".xls",""))
#         print(df3.head())
        dfFinal = pd.concat([dfFinal, df3], sort=True)
#         print(len(dfFinal))
dfFinal.dropna(how="all").to_csv(dirPrecos + '\\csv\\' + 'CSVFinal' + ".csv" )

# print(dfFinal.fillna(0).tail())

In [85]:
print(len(dfFinal.columns.unique()))
print(len(dfFinal.columns))

40
40

In [97]:
dfFinal['2005-12-25':'2006-01-10']

,01/01/2006,01/01/2007,01/01/2008,01/01/2009,01/01/2010,01/01/2011,01/01/2012,01/01/2013,01/01/2014,01/01/2015,...,01/07/2010,01/07/2011,01/10/2004,01/10/2005,01/10/2006,01/10/2007,01/10/2008,01/10/2009,04/01/2005,07/01/2004
Dia,,,,,,,,,,,,,,,,,,,,,
2005-12-26,996.69,856.29,742.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,887.69,NaN,NaN,NaN,NaN,NaN
2005-12-27,997.35,856.81,742.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,888.23,NaN,NaN,NaN,NaN,NaN
2005-12-28,998.01,857.33,742.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,888.90,NaN,NaN,NaN,NaN,NaN
2005-12-29,NaN,857.64,742.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,889.16,NaN,NaN,NaN,NaN,NaN
2005-12-30,NaN,858.09,743.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,889.88,NaN,NaN,NaN,NaN,NaN
2006-01-02,NaN,858.62,744.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,890.37,NaN,NaN,NaN,NaN,NaN
2006-01-03,NaN,859.14,744.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,891.04,NaN,NaN,NaN,NaN,NaN
2006-01-04,NaN,859.74,745.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,891.70,NaN,NaN,NaN,NaN,NaN
2006-01-05,NaN,860.63,747.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,892.36,NaN,NaN,NaN,NaN,NaN
2006-01-06,NaN,861.08,747.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,892.97,NaN,NaN,NaN,NaN,NaN
2006-01-09,NaN,861.75,748.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,893.63,NaN,NaN,NaN,NaN,NaN
2006-01-10,NaN,862.63,749.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,894.40,NaN,NaN,NaN,NaN,NaN